/* 대괄호를 이용한 css 선택자 */
/* [속성이름]처럼 대괄호를 이용하면 
대괄호 안에 있는 속성이름을 가진 태그들을 선택할 수 있고 
[속성이름="값"]처럼 작성하면, 
좀 더 구체적으로 속성이름에 
해당 값을 가진 태그들을 선택할 수 있다. */

[status] {
  padding: 5px 10px;
}

[status="방해금지"] {
  background-color: #ff6767;
  color: #ffffff;
}

[status="게임중"] {
  background-color: #5f62ff;
  color: #ffffff;
}

[status="접속중"] {
  background-color: #07c456;
  color: #ffffff;
}
